<style>
.card {
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #e4e1e1;
  
}

.card-header {
  background-color: #ccc;
  border-bottom: 1px solid #000;
  padding: 10px;
}

.card-block {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #f36c21;
  border-color: #f36c21;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #da610f;
  border-color: #da610f;
}

</style>

<br>

<div class = "row-align">

<%@events.reverse_each do |e| %>

  <div class="col-md-3">
    <div class="card" style="width: 22rem";>
      <div class="card-header">
        <b><%=e.title%></b>
      </div>
      <div class="card-block">
        <h4 class="card-title">Pour la date du <%=e.start_date.strftime("%d")%>-<%=e.start_date.strftime("%m")%>-<%=e.start_date.strftime("%y")%> à 
        <%=e.start_date.strftime("%H")%>h<%=e.start_date.strftime("%M")%></h4>
        <p class="card-text"><%=e.description%></p>
        <%= link_to "En savoir plus", event_path(e.id), class:"btn-orange text-white"%>
      </div>
    </div>
  </div>

<%end%>

</div>