<style>
.card {
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 20px;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #000;
  padding: 10px;
}

.card-block {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #f36c21;
  border-color: #f36c21;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #da610f;
  border-color: #da610f;
}

</style>

<br>

<div class ="row">

<%@events.each do |e| %>

  <div class="col-md-3">
    <div class="card" style="width: 22rem";>
      <div class="card-header">
        <%=e.title%>
      </div>
      <div class="card-block">
        <h4 class="card-title">Pour la date du <%=e.start_date.day%>-<%=e.start_date.month%>-<%=e.start_date.year%> à <%=e.start_date.hour%>h<%=e.start_date.min%></h4>
        <p class="card-text"><%=e.description%></p>
        <a href="#" class="btn btn-primary">En savoir plus</a>
      </div>
    </div>
  </div>

<%end%>

</div>