<br>
<%= form_for(@event, method: :post, html: {class: "form-container"}) do |f| %>
    <h2>Créer un évènement</h2>

    <%= f.file_field :picture,  multipart: true %>

    <div class="form-group">
      <%= f.label "Date de début" %><br />
      <%= f.datetime_select :start_date, { class: "form-control", locale: "fr" } %>
    </div>

    <div class="form-group">
      <%= f.label "Titre" %><br />
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Lieu" %><br />
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Description" %><br />
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Prix" %><br />
      <%= f.number_field :price, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Durée" %><br />
      <%= f.number_field :duration, class: "form-control", step: 5, min: 5, max: 120 %>
    </div>

    <div class="form-actions">
      <%= f.submit "Créer", class: "btn-orange" %>
    </div>

  <% end %>