<style>

.card {
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #e4e1e1;
}

.card-header {
  background-color: #ccc;
  border-bottom: 1px solid #000;
  padding: 10px;
}

.card-block {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #f36c21;
  border-color: #f36c21;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #da610f;
  border-color: #da610f;
}

</style>

<br><br>
<div class="card" style="width: 22rem";>
  <div class="card-header">
    <%=@event.title%>
  </div>
  <div class="card-block">
  
    <%if @event.picture.attached?%>
      <%= image_tag @event.picture, alt: 'picture', width:'100%', style:'border-radius: 15px;' %>
    <%else%>
      <p>Il n'y a pas encore de photo liée à cet évènement.</p>
    <%end%>

    <h4 class="card-title">Pour la date du <%=@event.start_date.strftime("%d")%>-<%=@event.start_date.strftime("%m")%>-<%=@event.start_date.strftime("%y")%> à 
    <%=@event.start_date.strftime("%H")%>h<%=@event.start_date.strftime("%M")%></h4>
    <p class="card-text"><b>Auteur</b>
    <br>
    <%=link_to @author.first_name, user_path(@author.id), class: "btn-orange"%>
    <br>
    <p class="card-text"><b>Description</b><br><%=@event.description%></p>
    <p class="card-text"><b>Lieu</b><br><%=@event.location%></p>
    <p class="card-text"><b>Prix</b><br><%=@event.price%>€</p>
    <p class="card-text"><b>Durée</b><br><%=@event.duration%> minutes</p>
    <br>

    <%if !@registred && current_user && @event.administrator_id!= current_user.id%>
      <%= button_to "Se joindre à l'évènement", event_join_path(@event.id), data: { turbo: false }, class: "btn-orange text-white", remote: true %>
      <br>
    <%else%>
      <p class="card-text"><em>Vous êtes déjà inscrit à cet évènement.</em></p>
      <br>
    <%end%>

    </div>
  </div>

  <%= link_to "Revenir à la page d'accueil", root_path, class:"btn-orange text-white"%>
  <br><br>