<br><br>
<div class="card" style="width: 22rem";>
  <div class="card-header">
    <h3><%=@event.title%></h3></b>
  </div>
  <div class="card-block">
  
    <%if @event.picture.attached?%>
      <%= image_tag @event.picture, alt: 'picture', width:'100%', style:'border-radius: 15px;' %>
    <%else%>
      <p>Il n'y a pas encore de photo liée à cet évènement.</p>
    <%end%>

    <h4 class="card-title">Pour la date du <%=@event.start_date.strftime("%d")%>-<%=@event.start_date.strftime("%m")%>-<%=@event.start_date.strftime("%y")%> à 
    <%=@event.start_date.strftime("%H")%>h<%=@event.start_date.strftime("%M")%></h4>
    <p class="card-text"><b>Auteur</b>
    <br>
    <%=link_to @author.first_name, user_path(@author.id), class: "btn btn-primary"%>
    <br>
    <p class="card-text"><b>Description</b><br><%=@event.description%></p>
    <p class="card-text"><b>Lieu</b><br><%=@event.location%></p>
    <p class="card-text"><b>Prix</b><br><%=@event.price%>€</p>
    <p class="card-text"><b>Durée</b><br><%=@event.duration%> minutes</p>
    <p class="card-text"><b>Participants : </b><br></p>
    <p class="card-text">
    
    <%if @attendees%>
      <%@attendees.each do |a|%>
        <%="#{a.first_name} #{a.last_name}"%><br>
      <%end%>
    <%end%>

    </p>
    <br>

    <%if !@registred && current_user && @event.administrator_id!= current_user.id%>
      <%= button_to "Se joindre à l'évènement", event_join_path(@event.id), data: { turbo: false }, class: "btn btn-primary", remote: true %>
      <br>
    <%elsif !current_user%>
      <p class="card-text"><em>Vous devez vous <%= link_to "connecter", new_user_session_path, style: "text-decoration:none;"%> pour vous inscrire à cet évènement.</em></p>
    <%else%>
      <p class="card-text"><em>Vous êtes déjà inscrit à cet évènement.</em></p>
    <%end%>

    <br>

    </div>
  </div>

  <br><br>
  <%= link_to "Revenir à la page d'accueil", root_path, class:"btn btn-info"%>
  <br><br>